* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 1000px;
    min-width: 1000px;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
}

a {
    color: #096ce6;
    text-decoration: underline;
}

a img {
    border: none;
}
a:hover {
    text-decoration: none;
}
.l {
    float: left;
}

.r {
    float: right;
}

.clear {
    clear: both;
}

.ib {
    display: inline-block;
}

.big-column {
    width: 570px;
    min-height: 1px;
    margin-left: 34px;
}

.small-column {
    width: 396px;
}

.head {
    padding-top: 20px;
}

h1 {
    font-size: 26px;
    color: #1e2e59;
}
.nav-bird {
    font-size: 8px;
    line-height: 14px;
}
.head h1 {
    padding-top: 29px;
}
.head .need-help {
    text-decoration: none;
    border-bottom: 1px dotted;
}
div.searchBox form {
    margin-top: 32px;
    position: relative;
    width: 410px;
}
div.searchBox label {
    cursor: text;
    left: 6px;
    line-height: 22px;
    position: absolute;
    top: 0;
    z-index: 1;
    color: #797979;
    font-size: 10px;
}
div.searchBox input {
    width: 314px;
    height: 22px;
    border: 1px solid #a6a6a6;
    padding-left: 6px;
    font-weight: bold;
}
div.searchBox button {
    background: #194c7f;
    color: #FFF;
    font-weight: bold;
    border: none;
    margin-left: 1px;
    padding: 4px 12px;
    font-family: Verdana, Geneva, sans-serif;
}

.content {
    margin-top: 52px;
}

.tests-block {
    margin-bottom: 28px;
}

.tests-block h4 {
    font-size: 21px;
    color: #444444;
    display: block;
    font-weight: normal;
}
.tests-block h4 span {
    color: #999999;
    font-size: 12px;
    display: block;
}
.tests-block table {
    margin-top: 15px;
}

.tests-block table tr td {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    height: 32px;
}
.tests-block table .test-module {
    width: 92px;
    vertical-align: top;
}
.tests-block table .test-name, .tests-block table .parentTest {
    display: block;
    font-size: 10px;
    padding: 3px 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
.tests-block table .test-date {
    width: 90px;
    vertical-align: bottom;
}
.tests-block table .test-descr {
    padding-left: 26px;
    background: url("../img/icon.secondary.png") no-repeat 3px 3px;
    display: block;
}
.tests-block table .next-test .test-module {
    padding-top: 15px;
}

.tests-block table .next-test .test-module,
.tests-block table .next-test .test-date,
.tests-block table .next-test .test-info  {
    padding-top: 15px;
}
.last-tests table td {
    vertical-align: top !important;
}
.last-tests table .status {
    display: block;
    padding-top: 6px;
    color: #249726;
}

.last-tests table .status.completed {
    color: #ed9400;
}

.last-tests table .status.failed {
    color: #e45a33;
}

.section-diagram {
    padding-top: 9px;
}
.section-diagram .section-name {
    width: 89px;
    min-height: 1px;
    overflow: hidden;
}
.section-diagram .row {
    height: 22px;
    position: relative;
}

.section-diagram .row.year .diagram-wrap {
    background: none;
}

.section-diagram .row.year .diagram-wrap {
    background: none;
}

.section-diagram .row.year span {
    text-align: center;
    color: #999999;
}

.section-diagram .row.year .term:hover {
    border-color: #FFFFFF !important;
}

.section-diagram .diagram-wrap {
    width: 307px;
    height: 100%;
    /*overflow: hidden;*/
    background: url("../../img/bg-diagram.png") repeat-y -2px 0px;
}
.section-diagram .diagram-wrap .term {
    display: block;
    position: relative;
    width: 152px;
    /*overflow: hidden;*/
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    color: #999999;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none;
    cursor: default;
}
.section-diagram .diagram-wrap .term span {
    display: block;
    position: absolute;
    height: 13px;
    top: 0;
}
.section-diagram .diagram-wrap .term span.tests {
    z-index: 1;
}
.section-diagram .diagram-wrap .term span.issues {
    z-index: 2;
}
.section-diagram .diagram-wrap .term span.map {
    z-index: 3;
}
.section-diagram .diagram-wrap .term.this-year {
    border-left: 1px solid #FFF;
}
.section-diagram .diagram-wrap .term.this-year span {
    right: 0;
}
.section-diagram .diagram-wrap .term.this-year span.tests {
    background-color: #bcd0e4;
}
.section-diagram .diagram-wrap .term.this-year span.issues {
    background-color: #194c7f;
}
.section-diagram .diagram-wrap .term.this-year span.map {
    background: url("../../img/left-diagram.png") repeat-x;
    width: 150px;
    margin-left: 2px;
}
.section-diagram .diagram-wrap .term.last-year {
    width: 151px;
    margin-left: 1px;
    border-right: 1px solid #FFF;
}
.section-diagram .diagram-wrap .term.last-year span {
    left: 0;
}
.section-diagram .diagram-wrap .term.last-year span.more-arrow {
    background: url("../../img/arrow-normal.png") no-repeat;
    display: block;
    position: absolute;
    width: 5px;
    height: 13px;
    right: -5px !important;
    left: auto !important;
    z-index: 5;
}
.section-diagram .diagram-wrap .term.this-year span.more-arrow {
    background: url("../../img/arrow-blue.png") no-repeat;
    display: block;
    position: absolute;
    width: 5px;
    height: 13px;
    left: -5px !important;
    right: auto !important;
    z-index: 5;
}
.section-diagram .diagram-wrap .term.last-year span.tests {
    background-color: #ccd390;
}
.section-diagram .diagram-wrap .term.last-year span.issues {
    background-color: #9ba926;
}
.section-diagram .diagram-wrap .term.last-year span.map {
    background: url("../../img/right-diagram.png") repeat-x;
    width: 153px;
}
.section-diagram .diagram-wrap .term.this-year:hover {
    border-color: #194c7f;
}
.section-diagram .diagram-wrap .term.this-year:hover span.issues {
    background-color: #2164a7;
}
.section-diagram .diagram-wrap .term.last-year:hover {
    border-color: #68a827;
}
.section-diagram .diagram-wrap .term.last-year:hover span.issues {
    background-color: #67a826;
}

.section-diagram .diagram-wrap .term.empty:hover {
    border-color: #FFFFFF !important;
}
.section-diagram .diagram-wrap .term.empty.this-year {
    text-align: right;
    padding-right: 4px;
    width: 148px;
}
.section-diagram .diagram-wrap .term.empty.last-year {
    text-align: left;
    padding-left: 4px;
    width: 148px;
}
.more-stats {
    background: url("../img/stats-icon.png") no-repeat;
    display: inline-block;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    padding-left: 38px;
    text-decoration: none;
    margin-top: 20px
}

.tags h4 a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px dotted;
}
.tags h4 a.active {
    cursor: default;
    text-decoration: none;
    border-bottom: none;
    color: #333333;
}
.tags .tags-block {
    padding-top: 20px;
}
.tags .tags-block a {
    color: #669900;
}
.tags .tags-block.tags-all {
    display: none;
}
.footer {
    width:1000px;
    height:80px;
    position:relative;
    margin-left: 34px;
}
.footer p {
    line-height:30px;
    font-size:12px;
}
.suggestBox {
    position:absolute;
    padding:0 4px 5px 0;
}
.suggestBox ul {
    background: #FFF;
    list-style: none;
    width:320px;
    border-style:solid;
    border-width:1px 1px 0;
    font:normal 1.2em/1.166 Verdana,Geneva,sans-serif;
}
.suggestBox li {
    padding:7px 5px;
    border-style:solid;
    border-width:0 0 1px;
    cursor:pointer;
    color: #0059A5;
}
.suggestBox span {
    float:right;
    margin-top:1px;
    font-size:.833em;
}
/* shadow */
i.shadow {
    position:absolute;
    background-repeat:no-repeat;
}
.searchBox input[type='text'],
.suggestBox li:last-child,
.table tr:last-child td {
    border-color:#A6A6A6;
}
.suggestBox ul,
.table table {
    border:solid 1px #A6A6A6; /* It seems that IE8 doesn't get it separated */
}
.suggestBox ul {
    border-width:1px 1px 0;
}
.suggestBox li,
.table th,
.table td {
    border-color:#D9D9D9;
}
.statistics .statisticsWrap {
    border-color:#BFD5FF;
}
/* highlight */
.suggestBox li:hover,
.suggestBox li.active,
.table tbody tr:hover td {
    background-color:#F3F3F3;
}
.footer p {
    color:#464646;
}
.footer .copyright {
    color:#787878;
}
.footer a {
    color:#E8552F;
    border-bottom:0;
    text-decoration: none;
}
.tagsCloud li {
    display:inline;
    line-height:30px;
    vertical-align:middle;
    padding:0 9px 0 0;
    white-space:nowrap;
}
.tagsCloud a {
    font-weight:bold;
}
.tag1 a {
    font-size:1em;
}
.tag2 a {
    font-size:1.2em;
}
.tag3 a {
    font-size:1.4em;
}
.tag4 a {
    font-size:1.8em;
}
.tag5 a {
    font-size:2.4em;
}
.tag6 a {
    font-size:3.6em;
}

select[id$="id_servers"] {
    height: 500px;
    vertical-align: middle;
}
