<dt>Environment:</dt><dd style="padding-left: 200px;"><a href="{% url "environments:html_layout" env_name=object format="excel" %}">{{ object }} (Export all settings)</a></dd>
{% for role_name, role_configurations in roles.items %}
    <dt>{{ role_name }}:</dt>
    {% for configuration, qty in role_configurations.items %}
    <dd style="padding-left: 200px;">
        {{ qty }} server{{ qty|pluralize }}.
        {% for propertie_name, propertie_value in configuration %}
        {{ propertie_name }}:
        {% if 'bytes' in propertie_name %}{{ propertie_value|filesizeformat }}{% else %}{{propertie_value}}{%endif%}{% if not forloop.last %},{% else %}.{% endif %}
        {% endfor %}
    </dd>
    {% endfor %}
{% endfor %}