{% spaceless %}
{% load django_tables2 %}
{% load i18n %}
{% load l10n %}
{% load report_extras %}
{% block table %}
{% if table.rows %}
<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
    {% nospaceless %}
    {% block table.thead %}
    <thead>
        <tr>
        {% with column=table.columns|first %}
            {% if column.orderable %}
            <th rowspan="2" {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
            {% else %}
            <th rowspan="2" {{ column.attrs.th.as_html }}>{{ column.header }}</th>
            {% endif %}
        {% endwith %}
        {% for column in table.merged_columns %}
            <th colspan="{{ column.attrs.th.rowspan }}">{{ column.header }}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for column in table.columns %}
            {% if not forloop.first %}
                {% if column.orderable %}
                <td {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></td>
                {% else %}
                <td {{ column.attrs.th.as_html }}>{{ column.header }}</td>
                {% endif %}
            {% endif %}
        {% endfor %}
        </tr>
    </thead>
    {% endblock table.thead %}
    {% block table.tbody %}
    <tbody>
        {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
        {% block table.tbody.row %}
        <tr class="{{ forloop.counter|divisibleby:2|yesno:"even,odd" }}"> {# avoid cycle for Django 1.2-1.6 compatibility #}
            {% for column, cell in row.items %}
                <td {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell|custom_floatformat }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
            {% endfor %}
        </tr>
        {% endblock table.tbody.row %}
        {% empty %}
        {% if table.empty_text %}
        {% block table.tbody.empty_text %}
        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
        {% endblock table.tbody.empty_text %}
        {% endif %}
        {% endfor %}
    </tbody>
    {% endblock table.tbody %}
    {% block table.tfoot %}
    <tfoot></tfoot>
    {% endblock table.tfoot %}
    {% endnospaceless %}
</table>
{% else %}
    <p>{{ table.empty_text }}</p>
{% endif %}
{% endblock table %}
{% if table.page %}
{% with table.page.paginator.count as total %}
{% with table.page.object_list|length as count %}
{% block pagination %}
<ul class="pagination">
    {% if table.page.has_previous %}
    {% nospaceless %}{% block pagination.previous %}<li class="previous"><a href="{{  table.context.request.path }}{% querystring table.prefixed_page_field=table.page.previous_page_number %}">{% trans "Previous" %}</a></li>{% endblock pagination.previous %}{% endnospaceless %}
    {% endif %}

    {% if table.page.has_previous or table.page.has_next %}
    {% nospaceless %}{% block pagination.current %}<li class="current">{% blocktrans with table.page.number as current and table.paginator.num_pages as total %}Page {{ current }} of {{ total }}{% endblocktrans %}</li>{% endblock pagination.current %}{% endnospaceless %}
    {% endif %}

    {% if table.page.has_next %}
    {% nospaceless %}{% block pagination.next %}<li class="next"><a href="{{  table.context.request.path }}{% querystring table.prefixed_page_field=table.page.next_page_number %}">{% trans "Next" %}</a></li>{% endblock pagination.next %}{% endnospaceless %}
    {% endif %}
    {% nospaceless %}{% block pagination.cardinality %}<li class="cardinality">{% if total != count %}{% blocktrans %}{{ count }} of {{ total }}{% endblocktrans %}{% else %}{{ total }}{% endif %} {% if total == 1 %}{{ table.data.verbose_name }}{% else %}{{ table.data.verbose_name_plural }}{% endif %} </li>{% endblock pagination.cardinality %}{% endnospaceless %}
    <a  href="{% url 'measurements:client_measurements_excel_table' component run %}{%  querystring 'report-statistics'='xls' %}">Download</a>
</ul>
{% endblock pagination %}
{% endwith %}
{% endwith %}
{% endif %}
{% endspaceless %}
