{% load report_extras %}
<tr class="{{ test.status|lower }}{% if test.related %} secondary{% endif %}">
    <td class="relTag"><a href="{{ JIRA_URL }}browse/{{ test.jira_key }}">{{ test.jira_key }}</a> </td>
    <td>{{ test.main_run.tested_release.main_build }}</td>
    <td>{{ test.main_run.tested_release.main_build.build_date|date:"d M" }}</td>
    <td class="test"><a href="{{ test.get_absolute_url }}">{{ test.title }}</a></td>
    <td class="res"><a href="{{ test.get_absolute_url }}">{{ test.status }}</a></td>
    <td class="testPlan">{{ test.get_test_plan_url_href | safe }}</td>
    <td class="tags">
         {% for tag in test.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{tag}}</a>{% if not forloop.last %},{% endif %}
         {% endfor %}
    </td>
    <td><a href="mailto:{{test.requester.email}}">@{{test.requester.last_name }}</a></td>
    <td>{{ test.get_test_date|format_two_dates }}</td>
  </tr>
