{% load static %}
    {# To include in page templates; object 'project' needs defined. #}
    {# Implies that jquery-2.0.0.min.js and jquery-ui.1.11.0.css are imported in the page : #}
    {# <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/jquery-ui.1.11.0.css" media="all" /> #}
    {# <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script> #}
<div class="searchBox">
        <form action="/{{project.name}}/search/" method="get">
        <fieldset>
            <span>
                {% with input_prompt="Type to search through all project tests" %}
                <label for="search-query-autocomplete">{{input_prompt}}</label>
                <input id="search-query-autocomplete" name="text" type="text" title="{{input_prompt}}" autocomplete="off"/>
                {% endwith %}
            </span>
            <span>
                <button>Search</button>
            </span>
        </fieldset>
        </form>
</div> <!-- searchBox -->
<script src="{% get_static_prefix %}js/jquery-ui.1.11.0.js"></script>
<script type="text/javascript">
    $( "#search-query-autocomplete" ).one("focus", function(){ $(this).prev().hide(); } );
    $( "#search-query-autocomplete" ).autocomplete({
        source: "/{{project.name}}/search/suggest/",
         {% comment %}
                  function( request, response ) { $.ajax({
                     url: "/{{project.name}}/search/suggest/",
                     data: { text: request.term },
                     dataType: "jsonp",
                     success: function( data ){ response( data );}
                     });
                  } ,
        {% endcomment %}
        minLength: 2,
        delay: 500,
        select: function( event, ui ) { suggestLinkClick(ui.item.value); },
        open: function()  { $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" ); },
        close: function() { $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" ); }
    });
    function suggestLinkClick(value) { window.location = "/{{project.name}}/search/?" + value;  }
</script>
