<div class="tableWrap" style="opacity: 1;">
    <div class="table">
    {% if tests|length %}
  <table>
        <colgroup>
            <col class="id" />
            <col class="relTag" />
            <col class="relDate" />
            <col class="test" />
            <col class="res" />
            <col class="testPlan" />
            <col class="tags" />
            <col class="request" />
            <col class="testDate" />
        </colgroup>
    <thead>
        <tr>
            <th class="id">ID</th>
            <th class="relTag">Build</th>
            <th>Release Date</th>
            <th class="test">Test</th>
            <th class="res">Status</th>
            <th class="testPlan">Test Plan</th>
            <th class="tags">Tags</th>
            <th class="request">Requested by</th>
            <th>Test Date</th>
        </tr>
    </thead>
    <tbody>
            {% regroup tests|dictsortreversed:"main_run.tested_release.main_build.branch.date_created" by main_run.tested_release.main_build.branch as tests_list %}
            {% for branch in tests_list %}
                <tr><th colspan="9">{{ branch.grouper }}</th></tr>
                {% for test in branch.list|dictsortreversed:"main_run.timestamp_end" %}
                    {% if not test.related %}
                        {% include "_tests_list_row.html" %}
                        {% with related_tests=test.get_related_tests %}
                        {% if related_tests %}
                            {% for related_test in related_tests %}
                                {% include "_tests_list_row.html" with test=related_test %}
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
    </tbody>
  </table>
    {% else %}
        <p>No tests were run</p>
    {% endif %}
    </div>
</div>