{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% get_static_prefix %}favicon.ico" />
    {% block extra_head %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</head>
<body{% block body_options %}{% endblock %}>
    <div class="wrap {% block wrap_rules %}{% endblock %}">
        <div class="{% block header_class %}{% endblock %}">
            {% block header%}{% endblock header%}
        </div> <!-- header -->
        <div class="content">
            {% block content %}{% endblock %}
        </div> <!-- content -->
    </div> <!-- wrap class -->
<div class="footer">
		<p class="copyright">&copy; <a href="{{ COMPANY_WEB_SITE }}">{{ COMPANY_NAME }}</a>, 2012-2014. All rights reserved.</p>
		<p>Please note: you are in the {{ COMPANY_NAME }} private area. All information is confidential.</p>
        <p><a href="/_measurements">Uploaders</a></p>
        <p><a href="{% url 'measurements:reset_cache' %}">Reset all cache</a></p>
	</div>
</body>
</html>