{% extends "base.html" %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/style.css" media="screen" />{% endblock %}
{% block title %}Help page{% endblock %}
{% block header_class %}head{% endblock %}
{% block header%}
    <div class="breadcrumbs">
        <a href="/" class="ib">{{ MAIN_PAGE_NAME }}</a><span class="nav-bird ib"></span>
        {% for breadcrumb in breadcrumbs %}
            › <a href="{{ breadcrumb.get_absolute_url }}">{{ breadcrumb }}</a>
        {% endfor %}› <strong>Help</strong>
    </div>
{% endblock %}
{% block content %}
                    <div>
                        <img width="100%" src="{% get_static_prefix %}img/{{ help_image }}" />
                    </div>
{% endblock %}