{% extends "base.html" %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/style.css" media="screen" />{% endblock %}
{% block title %}Upload{% endblock %}
{% block content %}
    <h1>Available measurements manage pages</h1><br><br>
    <div>
    <h1>File uploads</h1>
        <h2>Client Side</h2>
    <ul><a href="{% url 'measurements:upload_client_metrics_simple' %}">Upload client metrics from CSV file(simple uploader)</a> </ul>
    <ul><a href="{% url 'measurements:upload_client_metrics_cse' %}">Upload client metrics from CSE report</a> </ul>
    <ul><a href="{% url 'measurements:upload_client_measurements' %}">Upload client measurements results from CSV file(simple uploader)</a> </ul>
    <h2>Server Side</h2>
    <ul><a href="{% url 'measurements:upload_server_metrics_simple' %}">Upload server metrics from file</a> </ul>
    <ul><a href="{% url 'measurements:upload_server_measurements_simple' %}">Upload server measurements results from file</a> </ul>
    <br><br><br>
    <h1>External Uploads</h1>
    <ul><a href="{% url 'environments:upload_new_servers' %}">Upload new servers from zabbix</a> </ul>
    <ul><a href="{% url 'environments:fetch_server_properties' %}">Fetch server properties</a> </ul>
    <ul><a href="{% url 'measurements:upload_server_metrics_zabbix' %}">Import server metrics from zabbix</a> </ul>
    <ul><a href="{% url 'measurements:upload_server_measurements_zabbix' %}">Import server measurements from zabbix</a> </ul>
    <ul><a href="{% url 'measurements:fill_test_cases' %}">Fill run with test cases</a> </ul>
    <ul><a href="{% url 'measurements:link_test_cases' %}">Link run metrics with test cases</a> </ul>
    <ul><a href="{% url 'reports:import_tests' %}">Import tests from JIRA</a> </ul>
    <ul><a href="{% url 'measurements:upload_perf_field_tests' %}">Upload tests from Perf-Field report</a> </ul>
    </div>
{% endblock %}


