{% extends "base.html" %}
{% load static %}
{% load report_extras %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/main.css" media="all" />{% endblock %}
{% block extra_scripts %}
    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    <script src="{% get_static_prefix %}js/amcharts/amcharts.js"></script>
    <script src="{% get_static_prefix %}js/amcharts/serial.js"></script>
    <script src="{% get_static_prefix %}js/amcharts/exporting/amexport.js"></script>
    <script src="{% get_static_prefix %}js/amcharts/exporting/rgbcolor.js"></script>
    <script src="{% get_static_prefix %}js/amcharts/exporting/canvg.js"></script>
    <script src="{% get_static_prefix %}js/amcharts/exporting/filesaver.js"></script>

    <script src="{% get_static_prefix %}js/spin.min.js"></script>
    <script src="{% get_static_prefix %}js/internal/spinner_opts.js"></script>
    <script src="{% get_static_prefix %}js/internal/tables.js"></script>
    <script src="{% get_static_prefix %}js/internal/charts.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            $('div.content div.environment').each( function() {
                env_url = $(this).find('a').attr('href');
                env_div = this;
                $.ajax({url: env_url,
                    datatype: 'text/html',
                    success: function (env_data) {
                        $(env_div).append(env_data);
                    }
                });
            })
        });

        // build table of contenst
        $(window).load(function () {
            var toc = [];
            $("div h3").each(function () {
                var a = $(this).siblings("a")[0];
                if (a) {
                    toc.push({
                        "link": a.name,
                        "name": $(this).text()})
                }
            });
            $("#toc").append("<h2>Table of contents</h2>").append("<ul id='newList'></ul>");
            for (var i = 0; i < toc.length; i++) {
                $("#newList").append('<li><a href="#' + toc[i]['link'] + '">' + toc[i]['name'] + '</a></li>')
            }
        });
    </script>
{% endblock %}


{% block title %}Performance tests statistics{% endblock %}

{% block header_class %}header{% endblock %}
{% block header%}
    <div class="big-column l">
        <div class="breadcrumbs">
            <a href="/" class="ib">{{ MAIN_PAGE_NAME }}</a> › <a  href="{% url "reports:project_overview" project_name=project_name %}">{{ project_name }}</a> › <strong>Statistics</strong>
        </div>
    </div>
    <div class="clear"></div>
{% endblock header%}

{% block content %}
{% block test_results %}
    <div class="testResults">
        <div class="graph">
            <div class="graph-heading">
                <h3>SLA violations per release </h3>
            </div>
            <div class="graph-body">
                <ul class="moduleList">
                    <li class="selected">

                                <a  href='#'
                                    settings='{% url "measurements:sla_violations_stats_chart_settings"  %}'
                                    data='{
                                                "sla_violations": "{% url "reports:sla_violations_stats_table" project_name=project_name  %}"
                                              }'
                                    type='line'>
                                    </a></li>


                </ul>
                <div class="graphImg cropable">
                    <div class="chart-placeholder"style="width: 780px; height: 460px;"></div>
                </div>
            </div><!-- graph-body -->
        </div> <!-- graph -->
    </div> <!-- testResults -->

    <div class="testResults">
        {% regroup metrics_list by component.name  as component_list%}
        {% for component in component_list %}
            <div class="graph">
                <div class="graph-heading">
                    <a name="Graphs for {{ component.grouper }} class"></a>
                    <h3>Graphs for {{ component.grouper }} </h3>
                </div>
                <div class="graph-body">
                    <ul class="moduleList">
                        {% for metric in component.list %}

                                {% with client_metric=metric %}
                                    <li {% if forloop.first %}class="selected"{% endif %}>
                                    <a  href='#'
                                        settings='{% url "measurements:client_metric_chart_settings" metric_id=client_metric.id  %}'
                                        data='{

                                                "{{ metric.id }}": "{% url "reports:client_stats_table" project_name=project_name metric_id=client_metric.id  %}"
                                              }'
                                        type='line'>
                                            {{ client_metric.name }}</a></li>
                                {% endwith %}

                        {% endfor %}
                    </ul>
                    <div class="graphImg cropable">
                        <div class="chart-placeholder"style="width: 780px; height: 460px;"></div>
                    </div>
                </div><!-- graph-body -->
            </div> <!-- graph -->
        {% endfor %}
    </div> <!-- testResults -->
{% endblock %}
{% endblock %}