{% extends "base.html" %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/main.css" media="screen" />{% endblock %}
{% block title %}{{ MAIN_PAGE_NAME }}{% endblock %}
{% block header_class %}header logo{% endblock %}">
{% block header%}<h1>{{ MAIN_PAGE_NAME }}</h1>{% endblock header%}
{% block content %}
    <div class="programms">
        {% for project in object_list %}
            <dl class="project">
            <dt><i><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></i></dt>
            {% for section in project.get_sections %}
                <dd><a href="{{ section.get_absolute_url }}">{{ section.name }}</a><span class="number">{{ section.get_tests_count }}</span></dd>
             {% endfor %}
            </li>
            </dl>
        {% endfor %}
    </div>
{% endblock %}