{% extends "base.html" %}
{% load static %}
{% load report_extras %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/jquery-ui.1.11.0.css" media="all" />
{% endblock %}
{% block extra_scripts %}
        <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript">
        var cache = {};
        $(document).ready(function(){
            $('.show-tags').click(function() {
                if (!$(this).hasClass('active')) {
                    $('.show-tags').removeClass('active');
                    $(this).addClass('active');
                    $('.tags-block').hide();
                    $('.tags-block.tags-' + $(this).attr('id')).show();
                }
                $(this).blur();
            });
        });
      </script>
{% endblock %}
{% block title %}{{ project }} at {{ MAIN_PAGE_NAME }}{% endblock %}

{% block header_class %}head{% endblock %}
{% block header%}
<div class="big-column l">
    <div class="breadcrumbs">
        <a href="/" class="ib">{{ MAIN_PAGE_NAME }}</a><span class="nav-bird ib"></span> › <span>{{ project }}</span>
    </div>
    <h1>{{ project }} Performance</h1>
</div>
<div class="small-column l">
    <a href="{% url 'reports:project_help' project_name=project.name %}" class="need-help r">Need help?</a>
    <div class="clear"></div>
    {% include "_tests_search_box.html" %}
</div>
<div class="clear"></div>
{% endblock header%}

{% block content %}
<div class="big-column l" xmlns="http://www.w3.org/1999/html">
    <div class="tests-block">
        <h4>Tests Scheduled</h4>
        <table>
        <tr>
        {% for section in project.get_sections %}
            {% if section.get_scheduled_tests %}<!-- {# TODO: optimize this #} -->
                <td class="test-module"><a href="{{ section.get_absolute_url }}"> {{ section.name }}</a></td>
                {% for test in section.get_scheduled_tests %}
                     <td class="test-date">{{ test.get_test_date|format_two_dates }} </td>
                     <td class="test-info"><span class="test-name">{{ test.main_run.tested_build.branch }}</span><a class="test-descr" href="{{ test.get_absolute_url }}" title="Time spent">{{ test.title }}</a></td>
                    {% if not forloop.last %}
                        </tr><tr><td class="test-module"></td>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tr>
        </table>
    </div> <!-- tests-block -->
    <div class="tests-block">
        <h4>Last Problems Found</h4>


    </div> <!-- tests-block -->

    <div class="tests-block last-tests">
    <h4>Last Tests</h4>
        <table>
        {% for section in project.get_sections %}
            {% with last_test=section.get_last_test %}
                {% if last_test %}
            <tr>
               <td class="test-module"><a href="{{ section.get_absolute_url }}">{{ section.name }} </a>
               <td class="test-date">{{ last_test.get_test_date|format_two_dates }} </td>
               <td class="test-info"><a href="{{ last_test.get_absolute_url }}" title="Time spent: 4d Human Time, 18h Machine Time">{{ section.get_last_test.title }}</a>
                                <span class="status {{ last_test.status|lower }}">{{ last_test.status }}</span> </td>
            </tr>
                {% endif %}
            {% endwith %}
        {% endfor %}
        </table>
    </div> <!-- tests-block last-tests -->



</div> <!-- big-column l-->

<div class="small-column l">
    <div class="tests-block sections">
        <h4>{{ project }} sections<span>Diagrams shows number of tests and issues found</span></h4>
        <div class="section-diagram">
            <div class="row year">
                <div class="section-name l"></div> <!-- section-name-->
                <div class="diagram-wrap l">
                    <span class="term this-year l">{% now "Y" %}</span>
                    <span class="term last-year l"> {% last_year %}</span>
                    <span class="clear"></span>
                </div> <!-- diagram-wrap -->
                <div class="clear"></div>
		    </div> <!-- row year -->
            <div class="row">
             {%  for section in project.get_sections %}
                    <div class="section-name l">
                        <a href="{{ section.get_absolute_url }}">{{ section.name }}</a>
                    </div> <!-- section-name l -->
                    <div class="diagram-wrap l">
                    {% with this_year_tests_count=section.get_this_year_tests_count %}
                        {% if this_year_tests_count %}
                            <a title="Tests run: {{ this_year_tests_count }}; &#13;Issues found: 1" href="javascript:void(0)" class="term this-year l ">
                            <span class="tests" style="width: {{ this_year_tests_count|multiply:"3" }}px;"></span>
                            <span class="issues" style="width: 3px;"></span>
                            <span class="map"></span>
                        {% else %}
                            <a title="Tests run:0; &#13;Issues found: 1" href="javascript:void(0)" class="term this-year l empty">no tests were run</a>
                        {% endif %}
                    {% endwith %}
                    {% with last_year_tests_count=section.get_last_year_tests_count %}
                        {% if last_year_tests_count %}
                            <a title="Tests run: {{ last_year_tests_count }}; &#13;Issues found: 0" href="javascript:void(0)" class="term last-year l ">
                            <span class="tests" style="width: {{ last_year_tests_count|multiply:"3" }}px;"></span>
                            <span class="issues" style="width: 3px;"></span>
                            <span class="map"></span>
                        {% else %}
                            <a title="Tests run:0; &#13;Issues found: 0" href="javascript:void(0)" class="term last-year l empty">no tests were run</a>
                        {% endif %}
                    {% endwith %}
                    </div> <!-- diagram-wrap l -->
                {% endfor %}
            </div> <!-- row -->
        </div> <!--section-diagram -->
    <a href="{% url 'reports:project_stats' project_name=project.name %}" class="more-stats"><span>More statistics for Projects</span></a>
    </div> <!-- tests-block sections -->
    <div class="tests-block tags">
        <h4>Tags in Project: <a class="show-tags active" id="top10" href="javascript:void(0)">Top 10</a> | <a class="show-tags" id="all" href="javascript:void(0)">Show All</a></h4>
        <div class="tags-block tags-top10">
            {% with top_tags=project.get_top_tags %}
                {% for tag in top_tags %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
                {% endfor %}
            {% endwith %}
        </div> <!-- tags-block tags-top10 -->
        <div class="tags-block tags-all tagsCloud">
            <ul>
            {%  with tags_cloud=project.get_tags_cloud %}
                {% for tag in tags_cloud %}
                    <li class="tag{{ tag.number_of_entries }}"> <a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                {% endfor %}
            {% endwith %}
            </ul>
        </div> <!-- tags-block tags-all tagsCloud -->
    </div> <!-- tests-block sections -->
</div> <!-- small-column l -->


<div class="clear">

</div><!-- clear -->

{% endblock %}