{% extends "base.html" %}
{% load report_extras %}
{% load static %}

{% block title %}{{test.jira_key }}: {{ test.title }} @ Performance Layer {% endblock %}
{% block extra_scripts %}
<script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
<script src="{% get_static_prefix %}js/amcharts/amcharts.js"></script>
<script src="{% get_static_prefix %}js/amcharts/serial.js"></script>
<script src="{% get_static_prefix %}js/amcharts/exporting/amexport.js"></script>
<script src="{% get_static_prefix %}js/amcharts/exporting/rgbcolor.js"></script>
<script src="{% get_static_prefix %}js/amcharts/exporting/canvg.js"></script>
<script src="{% get_static_prefix %}js/amcharts/exporting/filesaver.js"></script>

<script src="{% get_static_prefix %}js/spin.min.js"></script>
<script src="{% get_static_prefix %}js/internal/spinner_opts.js"></script>
<script src="{% get_static_prefix %}js/internal/tables.js"></script>
<script src="{% get_static_prefix %}js/internal/charts.js"></script>
<script type="text/javascript">


        $(document).ready(function () {
            $('div.content div.environment').each( function() {
                env_url = $(this).find('a').attr('href');
                env_div = this;
                $.ajax({url: env_url,
                        datatype: 'text/html',
                        success: function (env_data) {
                            $(env_div).append(env_data);
                            }
                });
            })
        });

        // build table of contenst
        $(window).load(function () {
            var toc = [];
            $("div h3").each(function () {
                var a = $(this).siblings("a")[0];
                if (a) {
                    toc.push({
                        "link": a.name,
                        "name": $(this).text()})
                }
            });
            $("#toc").append("<h2>Table of contents</h2>").append("<ul id='newList'></ul>");
            for (var i = 0; i < toc.length; i++) {
                $("#newList").append('<li><a href="#' + toc[i]['link'] + '">' + toc[i]['name'] + '</a></li>')
            }
        });
    </script>
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/main.css" media="all" />

{% endblock %}
{% block wrap_rules %}test {{ test.status|lower }}{% endblock %}"
{% block header_class %}header{% endblock %}

{% block header %}
<div class="ticketInfo">
    <p><span class="tag">{{ test.main_run.tested_release.main_build.branch }}</span><span class="code"><a href="{{ JIRA_URL }}browse/{{ test.jira_key }}">{{ test.jira_key }}</a></span></p>
    <p><span class="branch">{{  test.main_run.tested_release.main_build }}</span></p>
</div>
<h1>{{ test.title }}</h1>
<div class="breadcrumbs">
   {% with project=test.section.project %}
       {% with section=test.section %}
    <a href="/">{{ MAIN_PAGE_NAME }}</a> › <a href="{{ project.get_absolute_url }}">{{ project }}</a> › <a href="{{ section.get_absolute_url }}">{{ section.name }}</a> › <strong>{{ test.title }}</strong>
       {% endwith %}
   {% endwith %}
</div> <!-- breadcrumbs -->
{% endblock %}

{% block content %}
    <div class="aside">
        <div class="tags">
            <h2>Tags:</h2>
                <ul>
                {% for tag in test.tags.all %}
                    <li><a href="{{ tag.get_absolute_url }}">{{tag}}</a>{% if not forloop.last %},{% endif %}</li>
                {% endfor %}
                </ul>
        </div>
        <div class="resolution">
            <h2>Test status: <strong>{{ test.status }} </strong></h2>
            <div class="date">
                <p>Test date: {{ test.get_test_date|format_two_dates }}</p>
            </div> <!-- date -->
            <p class="">{{ test.goal }} </p>
        </div> <!-- resolution -->
        <div id="toc" class="toc">
        </div> <!-- toc -->
        {% with attachments=test.get_attachments %}
        {% if attachments %}
        <div class="toc">
            <h2>Quick Links</h2>
                 <ul>{% for attachment in attachments %}
                     <li><a href="{{ attachment.get_direct_url }}" target="">{{ attachment.alias }} (*.{{ attachment.get_file_extension }}, {{ attachment.attached_file.size|filesizeformat }})</a></li>
                     {% endfor %}
                 </ul>
        </div><!-- toc -->
        {% endif %}
        {% endwith %}
        {% if test.get_participants %}
         <div class="participants">
             <h2>Test participants </h2>
             {% for participant in test.get_participants %}
            <dl>
                <dt>{{ participant.role }}</dt>
                {% for role_member in participant.users.all %}
                <dd><a href="mailto:{{ role_member.email }}">@{{ role_member.first_name }} {{ role_member.last_name }}</a></dd>
                {% endfor %}
            </dl>
            {% endfor %}
         </div> <!-- participants -->
        {% endif %}
    </div> <!-- aside -->

    <div class="testContent">
        <div class="conc">
           <h2>Test conclusions</h2>
           <p>{{ test.conclusion|safe|linebreaks }}</p>
        </div><!-- conc -->
        <div class="testLog">
            <h3>Test log</h3>
                <ul>
                {% for log_entry in test.get_test_log %}
                    <li><span class="date"> {{ log_entry.timestamp|date:"j M H:i T" }} </span>{{ log_entry.log }}</li>
                {% endfor %}
                </ul>
        </div> <!-- testLog-->
        <div class="environment">
            <h2>Environment</h2><h3>Hardware and OS</h3>
                <a hidden="true" href="{% url "environments:html_layout" env_name=test.main_run.get_tested_environment format="web" %}"></a>

        </div> <!-- environment -->
    </div> <!-- testContent -->
    <div class="testResults">
        {% block test_results %}
        {% endblock %}
    </div> <!-- testResult -->
{% endblock %}