{% extends "section_base.html" %}
{% load static %}
{% block extra_section_scripts %}
    <script type="text/javascript">
        function get_tests_list(year){
                        $('.tableWrap').fadeTo(200, 0.7);
                        $.ajax({ url: '/{{ section.project.name }}/{{ section.name }}/' + year + '/',
                                 success: function(data) {  $('.tableWrap').html(data); }
                        });
                        $('.tableWrap').fadeTo(300, 1);
        }
        window.onload = function(){
                   var today = new Date();
                   get_tests_list(today.getFullYear());
                };
        $(document).ready(
               function(){
                   var $years = $('.years a');
                   $years.on('click', function(e){
                        e.preventDefault();
                        var year = $(this).attr('href');
                        $years.removeClass('mvc-r-year-clicked');
                        $(this).addClass('mvc-r-year-clicked');
                        get_tests_list(year);
                    });
        })
    </script>
{% endblock %}

{% block title %}List of tests {{ section.project.name }}/{{ section.name }}{% endblock %}
{% block header_title %}
    <h1>{{ section.project }} {{ section.name }}</h1>
{% endblock %}

{% block need_help_link %}
    <a style="position: absolute; top:45px; right: 0px;; border-bottom-style:dotted;" href="{% url 'reports:section_help' project_name=section.project.name section_name=section.name %}">Need help?</a>
{% endblock %}

{% block content %}
{% comment %}
    <ul>
        {% for t_status in test_status_list %}
            <li>{{ t_status }} : {{ t_status.description }}</li>
        {% endfor %}
    </ul>
{% endcomment %}
<div class="years">
    <ul>
        {% for year in years_set %}
        <li><a href="{{ year|date:"Y" }}">{{ year|date:"Y" }}</a></li>
        {% endfor %}
    </ul>
</div> <!-- years -->
<div class="tableWrap" style="opacity: 1;">
</div>
{% endblock %}