{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/jquery-ui.1.11.0.css" media="all" />
{% endblock %}
{% block extra_scripts %}
    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    {% block extra_section_scripts %}{% endblock %}
{% endblock %}

{% block header_class %}header{% endblock %}
{% block header %}
    {% block header_title %}header_title{% endblock %}
    <div class="sections">
        <strong>{{ section.project }} Sections:</strong>
        <ul>
            {% for section_ in section.project.get_sections %}
                {% if section_ == section %}
                    <li><strong>{{ section_.name }}</strong></li>
                {% else %}
                    <li><a href="{{ section_.get_absolute_url }}">{{ section_.name }}</a></li>
                {% endif %}
            {% endfor %}
            <li class="stats"><a href="/{{section.project.name}}/stats/">Project Statistics</a> »</li>
        </ul>
    </div> <!--sections-->
    {% block need_help_link %}{% endblock %}
    <div class="breadcrumbs">
        <a href="/">{{ MAIN_PAGE_NAME }}</a> › <a href="{{ section.project.get_absolute_url }}">{{ section.project }}</a> › <strong>{{ section.name }}</strong>
    </div> <!-- breadcrumbs -->
    {% include "_tests_search_box.html" with project=section.project %}
{% endblock %}
