{% extends "section_base.html" %}
{% load static %}

{% block title %}Search: {{ search_request.text }} in {{ section.project.name }}{% endblock %}
{% block header_title %}
    <h1 class="request">{{ search_request.kind }}: {{ search_request.text }}</h1>
{% endblock %}

{% block need_help_link %}{% endblock %}

{% block content %}
    {% for year, tests_table in year_tables.items %}
        <h2>{{ year }}</h2>
        {{ tests_table | safe }}
    {% empty %}
        <h2>No tests found</h2>
    {% endfor %}
{% endblock %}