{% extends "base.html" %}
{% load static %}
{% block extra_head %}<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}styles/style.css" media="screen" />{% endblock %}
{% block extra_scripts %}
    <script src="{% get_static_prefix %}js/jquery-2.0.0.min.js"></script>
    <script type="text/javascript">
    jQuery.fn.filterByText = function (textbox) {
    return this.each(function () {
        var select = this;
        var options = [];
        $(select).find('option').each(function () {
            options.push({
                value: $(this).val(),
                text: $(this).text()
            });
        });
        $(select).data('options', options);

        $(textbox).filter("#filter").bind('change keyup', function () {
            var options = $(select).empty().data('options');
            var search = $.trim($(this).val());
            var regex = new RegExp(search, "gi");

            $.each(options, function (i) {
                var option = options[i];
                if (option.text.match(regex) !== null) {
                    $(select).append(
                    $('<option>').text(option.text).val(option.value));
                }
            });
        });
    });
    };

     $(document).ready(function(){
        $('select').not("#id_app").not("#id_environment").filterByText($('input'));
        });
    </script>
{% endblock %}
{% block title %}Upload{% endblock %}
{% block content %}
    {% if custom_errors %}
    <b>{{ custom_errors }}</b>
    {%  endif %}
    {% if upload_results %}
        {% if upload_results.task %}
        <p>task: <a href="{{ CELERY_MON_URL }}/task/{{ upload_results.task }}">Results</a></p>
        {% endif %}
    {% endif %}
    {% if form %}
    <div class="formWrapper">
    <form enctype="multipart/form-data" action="{{ f_url }}" method="post">{% csrf_token %}
    <input id='filter' type='text'/>
    {% for field in form.visible_fields %}
       <div>
            <label for="{{ field.auto_id }}">{{ field.label_tag }}
            {% if field.field.required %}
                <span class="required">*</span>
            {% endif %}{{ field }}
            </label>
            {{ field.errors }}
        </div>
    {% endfor %}
    <input type="submit" value="Submit" />
    </form>
    </div>
    {% endif %}
{% endblock %}
