/* ------------------------------------------------------------------ header */
.header {
	position:relative;
	padding:65px 0 0;
	}

/* ------------------------------------------------------------- breadcrumbs */
.breadcrumbs {
	position:absolute;
	top:18px;
	left:-3px;
	font:normal 1.2em/1.333 Arial,Helvetica,sans-serif;
	}
.breadcrumbs a,
.breadcrumbs strong {
	margin:0 3px;
	}
.breadcrumbs strong {
	font-weight:normal;
	}
.breadcrumbs em {
	font-weight:bold;
	}

/* ---------------------------------------------------------------- sections */
.sections {
	position:absolute;
	top:18px;
	right:-3px;
	font:normal 1.2em/1.333 Arial,Helvetica,sans-serif;
	}
.sections ul,
.sections li {
	display:inline;
	}
.sections ul {
	margin:0 0 0 3px;
	}
.sections li {
	margin:0 3px;
	}
.sections li strong {
	font-weight:normal;
	}
.sections li.stats {
	margin-left:12px;
	padding:6px 8px;
	border-style:solid;
	border-width:1px;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	}

/* ------------------------------------------------------------- search form */
.searchBox {
	position:absolute;
	top:67px;
	right:0;
	}
.searchBox span {
	position:relative;
	}
.searchBox label {
	position:absolute;
	top:0;
	left:6px;
	z-index:1;
	line-height:1.4;
	cursor:text;
	}
.searchBox input,
.searchBox button {
	font:bold 1.2em/1.5 Verdana,Geneva,sans-serif;
	vertical-align:middle;
	}
.searchBox input[type='text'] {
	width:310px;
	height:14px;
	padding:4px 5px;
	border-style:solid;
	border-width:1px;
	border-color:#A6A6A6;
	}
.searchBox input[type='text'].loading {
	background-position:99% 50%;
	background-repeat:no-repeat;
	}
.searchBox button {
	height:24px;
	padding:0 9px;
	border-style:solid;
	border-width:0 0 3px;
	*border-width:0;
	cursor:pointer;
	}

/* -------------------------------------- years links & second-level heading */
.years,
h2, h3 {
	font:normal 1.8em Arial,Helvetica,sans-serif;
	margin:18px 0;
	}
.testResults h2 {
	font-size: 2.2em;
}
.years ul {
	margin-left:-9px;
	}
.years li {
	display:inline;
	margin:0 9px;
	}
.years strong {
	font-weight:normal;
	}
.years a {
	border-style:dotted;
	}

/* ------------------------------------------------------------- suggest box */
.suggestBox {
	position:absolute;
	padding:0 4px 5px 0;
	}
.suggestBox ul {
	width:320px;
	border-style:solid;
	border-width:1px 1px 0;
	font:normal 1.2em/1.166 Verdana,Geneva,sans-serif;
	}
.suggestBox li {
	padding:7px 5px;
	border-style:solid;
	border-width:0 0 1px;
	cursor:pointer;
	}
.suggestBox span {
	float:right;
	margin-top:1px;
	font-size:.833em;
	}
/* shadow */
i.shadow {
	position:absolute;
	background-repeat:no-repeat;
	}

/*----------------------------------------------------------------------------- simple table --------*/
.contentTable table {
	border:1px solid;
	width:100%;
	}
.contentTable.autoWidth table {
	width:auto;
	}
th,
td {
	padding:2px 5px 3px;
	border-style:solid;
	border-width:0 1px;
	font-size:1.2em;
	text-align:center;
	}
thead td,
th {
	border-width:1px;
	vertical-align:middle;
	}
td.def {
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
	}
td.TestCase {
    text-align:left;
    vertical-align:middle;
}
