/* -------------------------------------------------------------------- body */ 
html,
body {
	height:100%;
	}
/*html {
	font-size:100.1%;
	}*/
body {
	font:normal 62.5% Verdana,Geneva,sans-serif;
	}

/* ------------------------------------------------------------ common stuff */
em {
	font-style:normal;
	}

/* ------------------------------------------------------------------- links */
a:link,
a:visited,
a:active {
	text-decoration:none;
	border-style:solid;
	border-width:0 0 1px;
	}
a:hover {
	border-bottom:0;
	}

/* ---------------------------------------------------------------- wrappper */
.wrap {
	position:relative;
	width:1000px;
	margin:0 auto;
	min-height:100%;
	_height:100%;
	}

/* ----------------------------------------------------------------- heading */
h1 {
	font:bold 2.8em/1 Arial,Helvetica,sans-serif;
	margin:0 410px 0 0;
	}
.searchResults h1 {
	font:normal 1.8em/1.556 Arial,Helvetica,sans-serif;
	}

/* ----------------------------------------------------------------- content */
.content {
	overflow:hidden;
	padding:0 0 130px;
	}

/* ----------------------------------------------------------------- footer */
.footer {
	width:1000px;
	margin:-80px auto 0;
	height:80px;
	position:relative;
	}
.footer p {
	line-height:30px;
	font-size:1.2em;
	}
