.programms dt,
.programms dd,
.programms .number,
.footer p {
	font-family:Arial,Helvetica,sans-serif;
	}

.logo {
	padding:0;
	}
.logo h1 {
	padding:65px 0 0 150px;
	}

.programms i {
	display:inline-block;
	position:relative;
	margin:0 12px -10px -50px;
	*bottom:-4px;
	}
.programms a:hover i {
	cursor:pointer;
	}
.programms dt a {
	vertical-align:middle;
	}
.programms dt {
	margin:40px 0 0;
	}
.programms dt {
	font-size:2.8em;
	padding:0 0 0 112px;
	}
.programms dd {
	font-size:1.8em;
	padding:3px 0 4px 128px;
	}

.programms dt a:link {
    border-bottom:0;
}
.programms dt a:visited {
    border-bottom:0;
}
.programms dt a:hover {
	border-bottom:1px solid;
	border-bottom:0;
	text-decoration:underline;
}
.programms dt a:active {
    border-bottom:0;
    text-decoration:none;
}

.programms .number {
	font-size:.65em;
	margin:0 0 0 5px;
	vertical-align:top;
	}
