div#wrapper {
	width: 932px;
	margin: 0 auto;
	text-align: left;
	padding: 70px 28px 0;
	border: 1px solid #8e96ac;
	border-top: 0;
	}
div#wrapper:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
	}

dl.inline dt, dl.inline dd {
	display: inline;
	}
div.conc {
	padding: 12px;
	margin-bottom: 20px;
	}
div.passed div.conc {
	border: 1px solid #249726;
	background: #e0f8e1;
	}
div.completed div.conc {
	border: 1px solid #e5c545;
	background: #fffbe5;
	}
div.failed div.conc {
	border: 1px solid #d63333;
	background: #fcc;
	}
.alnd {
	margin-left: -0.42em;
	}
p {
	font-size: 1.2em;
	margin-bottom: 5px;
	line-height: 1.5em;
	}
dl {
	font-size: 1.2em;
	}
a img {
	border: none;
	}
.fail {
	color: #e64117;
	}

/* -----------------------------------------------------------------------------------------headers*/
h1 {
	font-size: 2.8em;
	color: #1e2e59;
	margin-bottom: 12px;
	}
h2 {
	font: 1.9em Arial, Helvetica, sans-serif;
	margin-bottom: 8px; margin-top: 22px;
	color: #273b73;
	}
h3 {
	font: normal 1.7em Arial, Helvetica, sans-serif;
	color: #1e2e59;
	margin-bottom: 35px;
	}
h4 {
	font: bold 1.2em Arial, Helvetica, sans-serif;
	margin-bottom: 6px; margin-top: 12px;
	}
h4 strong {
	font-weight: normal;
	}
/* -----------------------------------------------------------------------------------------headers finish*/
/* -----------------------------------------------------------------------------------------links*/
a {
	color: #096ce6;
	text-decoration: underline;
	}
a:hover {
	text-decoration: none;
	}

    /* ---------------------------------------------------------------------------------------graphs comparing*/
body#graphsComparer {
	width: 910px;
	}
body#graphsComparer div#wrapper {
	border-top: 1px solid #8e96ac;
	width: 550px;
	padding: 0;
	}
div.graphsComparer {
	padding-top: 15px;
	zoom: 1;
	}
div.graphsComparer div.imgContainer {
	width: 500px; height: 500px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	_overflow: visible; /*ie bug workaround*/
	}
div.graphsComparer div.imgContainer img {
	position: absolute;
	left: 0; right: 0;
	}

div.graphsComparer div.legend {
    margin-left: 50px;
}

div.graphsComparer div.legend div {
	float: left; width: 49.9%;
	}
div.graphsComparer div.legend h4 {
	display: block;
	padding: 5px 50px 5px 58px;
	margin: 0;
	}
div.graphsComparer div.legend h4.leftLegend {
	background: url(../../img/left-legend.gif) no-repeat left 0;
        float: left;
        margin-left: 80px;
        padding-right: 0px;
	}
div.graphsComparer div.legend h4.rightLegend {
	background: url(../../img/right-legend.gif) no-repeat left 0;
	margin-left: 30px;
	padding-right:50px;
	}

div.graphsComparer div.controller {
	border-top: 1px solid #a6a6a6;
	border-bottom: 1px solid #a6a6a6;
	background: #f7f7f7;
	margin-top: 40px;
	overflow: hidden; width: 100%;
	}
div.graphsComparer div.controller div {
	float: left;
	border-right: 1px solid #f0f0f0;
	padding: 0 0 10px;
	}
div.graphsComparer div.controller div.last {
	border-right: 0;
	}
div.graphsComparer div.controller div.th {
	width: 33%;
	}
div.graphsComparer div.controller div.tw {
	width: 50%;
	}
div.graphsComparer div.controller div h4,
div.graphsComparer div.controller div select,
div.graphsComparer div.controller div p {
	margin-left: 18px;
	display: block;
	}
div.graphsComparer div.controller div.first h4,
div.graphsComparer div.controller div.first p {
	margin-left:30px;
	}
div.graphsComparer div.controller div p {
	margin-top: 10px;
	}
div.graphsComparer div.controller div.first p  {
	margin-top:8px;
	}
div.graphsComparer div.controller select {
	width: 156px;
	}
div.graphsComparer div.controller option.hint {
	color: #a8a8a8;
	}
/* ---------------------------------------------------------------------------------------graphs comparing finish*/
a.saveas {
    float: right;
    margin-right: 8px;
    margin-top: 5px;
    font-family: Arial;
    font-size: 10pt;
    color: #666666;
}