.testsList h2,
.tagsCloud h2,
.statistics h2,
.projectsList a,
.tagsCloud a,
.testsList a,
.testsList dd,
.testsList span,
.statistics {
	font-family:Arial, Helvetica, sans-serif;
	}

.projects {
	float:left;
	width:576px;
	}
.aside {
	float:left;
	width:396px;
	margin:36px 0 0 28px;
	}

.testsList h2,
.tagsCloud h2,
.statistics h2 {
	font-size:1.2em;
	font-weight:bold;
	}
h2 span {
	font-weight:normal;
	padding:0 0 0 .5em;
	}

.projectsList {
	margin:14px 0 28px;
	}
.projectsList li {
	display:inline;
	line-height:30px;
	padding:0 1em 0 0;
	}
.projectsList a {
	font-size:1.8em;
	white-space:nowrap;
	}

.tagsCloud {
	margin:0 0 28px;
	}
.tagsCloud li {
	display:inline;
	line-height:30px;
	vertical-align:middle;
	padding:0 9px 0 0;
	white-space:nowrap;
	}
.tagsCloud a {
	font-weight:bold;
	}
.tag1 a {
	font-size:1em;
	}
.tag2 a {
	font-size:1.2em;
	}
.tag3 a {
	font-size:1.4em;
	}
.tag4 a {
	font-size:1.8em;
	}
.tag5 a {
	font-size:2.4em;
	}
.tag6 a {
	font-size:3.6em;
	}
.tag4:link,
.tag4:visited,
.tag4:active,
.tag5:link,
.tag5:visited,
.tag5:active,
.tag6:link,
.tag6:visited,
.tag6:active {
	border-width:0 0 2px;
	}

.statistics .statisticsWrap {
	display:inline-block;
	border:1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2px 0;
	}
.statisticsWrap h2 {
    padding-left: 16px;
    margin-top: 4px;
}
.statistics dl {
	overflow:hidden;
        margin-bottom: 28px;
        margin-right: 16px;
        padding-bottom: 1px;
	}

.statisticsWrap dl .secondary .issueWrap  {
        display: block;
    }
.statisticsWrap dt.section {
	padding:0px 0 2px 16px;
	float:left;
	font-size:1.2em;
	}
.statistics dd{
	font-size:1.2em;
	padding:0px 29px 16px 118px;
	}
.statistics p {
	padding:0px 0 10px 16px;
	font-size:1.2em;
	}
.statisticsWrap .testsList dt.section {
        width: 82px;
        padding-top: 0px;
}
.statisticsWrap .testsList dd {
        font-size: 1em;
        margin-bottom: 0px;
}
.statisticsWrap .testsList dd.date {
        font-size: 1.2em;
        margin-left: 16px;
}
.testsList {
	margin:0 0 28px;
	}
.testsList dl {
	overflow:hidden;
	}
.testsList dt {
	float:left;
	font-size:1.2em;
	width:99px;
	}
.testsList dd {
	margin:0 0 19px;
	padding:0 0 0 99px;
	}
.testsList a,
.testsList span {
	vertical-align:top;
	}
.testsList .section {
	width:99px;
	}
.testsList .date {
	display:inline-block;
	width:78px;
	font-size:1.2em;
	float:left;
	padding:0;
	}
.issueWrap {
	display:inline-block;
	margin:0 6px 0 0;
	max-width:390px;
	}
.issueWrap .id {
	display:block;
	margin:3px 0 0;
	font-size:1em;
	}
.issueWrap a.id,
dl .parent a {
	display:inline-block;/*IE8 doesn't draw border-bottom at hover, when it is just inline*/
	border-bottom:0;
	padding-bottom:1px;
	margin:0;
	}
.issueWrap .test {
	font-size:1.2em;
	}
dd .res a {
	font-size:1.2em;
	border-width:0;
	}
dl .secondary .issueWrap {
	padding:0 0 0 25px;
	background:url("../../img/icon.secondary.png") no-repeat 4px 4px;
	display:inline-block;
	margin:0 6px 0 0;
	}
dl .id a:hover,
dl .parent a:hover,
dl .res a:hover {
	border-bottom:1px solid;
	padding-bottom:0;
	}
dl .parent a:hover {
	border-width:0 0 1px;
	border-style:solid;
	}
dl .parent {
	display:block;
	}

.mvc-r-year-clicked {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black !important;
    font-weight: bold;
    border-width: 0 !important;
}