/* ------------------------------------------------------------------ common */
/* body */
body {
	background-color:#FFF;
	color:#444;
	}
/* links */
a:link,
a:visited,
a:hover,
a:active,
.sections li.stats,
.statistics p {
	color:#096CE6;
	}
a:active {
	color: #E64117;
	}
/* heading */
h1 {
	color:#1E2E59;
	}
h1.test {
	color:#096CE6;
	}
h1.request {
	color:#0059A5;
	}
h1.tag {
	color:#690;
	}
.logo h1 {
	background:url(../../img/logo.gif) no-repeat 0 0;
	}
/* borders */
.searchBox input[type='text'],
.suggestBox li:last-child,
.table tr:last-child td {
	border-color:#A6A6A6;
	}
.suggestBox ul,
.table table {
	border:solid 1px #A6A6A6; /* It seems that IE8 doesn't get it separated */
	}
.suggestBox ul {
	border-width:1px 1px 0;
	}
.suggestBox li,
.table th,
.table td {
	border-color:#D9D9D9;
	}
.statistics .statisticsWrap {
	border-color:#BFD5FF;
	}
/* highlight */
.suggestBox li:hover,
.suggestBox li.active,
.table tbody tr:hover td {
	background-color:#F3F3F3;
	}

/*-------------------------------------------------------------------- index*/
.programms dt a:link {
    color: #096ce6;
}
.programms dt a:visited {
    color: #8f8fbf;
}
.programms dt a:hover {
    color: #096ce6;
}
.programms dt a:active {
    color: #e64117;
}

.programms dd a:link {
    color: #096ce6;
}
.programms dd a:visited {
    color: #8f8fbf;
}
.programms dd a:hover {
    color: #096ce6;
}
.programms dd a:active {
    color: #e64117;
}


.programms .number {
	color:#787878;
	}

/*------- footer ------*/
.footer p {
	color:#464646;
	}
.footer .copyright {
	color:#787878;
	}
.footer a {
	color:#E8552F;
	border-bottom:0;
	}


/* ------------------------------------------------------------------ blocks */
/* breadcrumbs */
.breadcrumbs,
.sections {
	color:#797979;
	}
/* sections */
.sections li.stats {
	border-color:#BFD5FF;
	}
/* search form */
.searchBox label {
	color:#797979;
	}
.searchBox input[type='text'].loading {
	background-image:url(../../img/loading.small.gif);
	}
.searchBox button {
	border-color:#194C7F;
	background-color:#194C7F;
	color:#FFF;
	}
/* years links & second-level heading */
.years.disabled a {
	color:#797979;
	}
/* suggest box */
.suggestBox li {
	background-color:#FFF;
	color:#096CE6;
	}
.suggestBox li.tag {
	color:#690;
	}
.suggestBox li.request {
	color:#0059A5;
	}
i.shadow {
	background-image:url(../../img/shadow.png);
	}
i.tr {
	top:0;
	bottom:5px;
	right:0;
	width:4px;
	background-position:100% 0;
	}
i.bl {
	bottom:0;
	left:0;
	right:6px;
	height:5px;
	background-position:0 100%;
	}
i.br {
	bottom:0;
	right:0;
	height:5px;
	width:6px;
	background-position:100% 100%;
	}

/*------- minor text styles ------*/
.red {
	color:#F00;
	}
.bold {
	font-weight:bold;
	}
.italic {
	font-style:italic;
	}
.black {
	color:#000;
	}
.middle {
	vertical-align:middle;
	}
.center {
	text-align:center;
	}
.nowrap {
	white-space:nowrap;
	}

/* ------------------------------------------------------------------- table */
/* table wrapper */
.table .loading {
	background-image:url(../../img/loading.big.gif);
	background-color:#0C6EE4;
	color:#FFF;
	}
/* tbody */
.table tbody th {
	background-color:#5A5A5A;
	color:#FFF;
	}
/* special cells */
.table .secondary td.relTag,
.table .secondary td.test {
	background-image:url(../../img/icon.secondary.png);
	}
/* links */
.table td.id a:visited,
.table td.test a:visited {
	color:#8F8FBF;
	}
.tableWrap td.res a {
    color:#999;
}
.tableWrap tr.passed td.res a,
.passed .res a {
    color:#249726;
}
.tableWrap tr.failed td.res a,
.failed .res a {
	color:#D63333;
	}
.tableWrap tr.completed td.res a,
.completed .res a {
	color:#D97E00;
	}
.table td.tags a,
.tagsCloud a {
	color:#690;
	}
.table td.request a {
	color:#0059A5;
	}
/* icons */
.table td.testPlan i,
.test .actions a {
	background:#D9E6FF;
	}
.table td.testPlan i {
    background-image:url(../../img/sprite.icons.png);
}
/* highlight */
.table em {
	background-color:#FFF3B3;
	}

/*----------------------------------------------------------------------------- test log --------*/
.ticketInfo .sow {
	color:#797979;
	}
.relativeArticles {
	background-color:#FFF;
	}
.relativeArticles .seeAlsoLink {
	background-color:#E1EFC4;
	color:#000;
	}
.relativeArticles iframe {
	background-color:#FFF;
	border-color:#444;
	}
body.relativeArticles,
.relativeArticles .testsList {
	background-color:#FFF;
	}
.relativeArticles dd a:link {
	color:#096CE6;
	}
.relativeArticles dd a:visited {
	color:#8F8FBF;
	}
.relativeArticles dd a:hover {
	color:#096CE6;
	}
.relativeArticles dd a:active {
	color:#E64117;
	}
.testContent .conc,
.undefined .testContent .conc,
.aborted   .testContent .conc{
	border-color:#999;
	background-color:#E8E8E8;
	}
/*
New : None
In Progress :
Aborted :
Passed :
Failed :
Resolved : None
Postponed : None
Completed :
Confirmed : None
*/
.passed .testContent .conc {
    border-color:#249726;
    background-color:#E0F8E1;
}
.failed .testContent .conc {
	border-color:#D63333;
	background-color: #FFCCCC;
	}
.completed .testContent .conc {
	border-color:#D97E00;
	background-color: #FFFBE5;
	}
.environment h2,
.testResults h2 {
	color:#273B73;
	}
.testContent dt,
.testContent span.date,
.testResults dt,
.testResults span.date {
	color:#808080;
	}
.testContent p.error,
.testResults p.error {
	color:#E64117;
	}
.relativeArticles dt a,
.test .tags a {
	color:#690;
	}
.testContent .conc h2,
.test .resolution h2 {
	color:#273B73;
	}
.test .resolution h2 strong,
.test.undefined .resolution h2 strong {
    color:#999;
}
.test.passed .resolution h2 strong {
	color:#249726;
	}
.test.failed .resolution h2 strong {
	color:#D63333;
	}
.test.completed .resolution h2 strong {
	color:#D97E00;
	}
.test .toc ul {
	border-color:#BFD5FF;
	}
.participants dt {
	color:#808080;
	}
.participants a {
	color:#0059A5;
	}
.actions a {
	color:#000;
	}
.graph .switcher .selected a {
	color:#444;
	}
.incidents h4 {
	background:#EAEAEA;
	}
.incidents li i {
	background:url(../../img/sprite.arrows.png) no-repeat 0 0;
	}
.diagrams h4 {
	background:url(../../img/gradient.diagram.header.png) repeat-x 0 0;
	}
.diagrams li i {
	background:url(../../img/gradient.diagram.png) repeat-y 0 0;
	}
.contentTable table,
.contentTable th,
.contentTable td,
.diagrams .level,
.diagrams h4,
.graph .switcher li,
.graph .switcher a,
.graph-body,
.graphImg,
.graph .moduleList,
table.scaled tbody td.scaled,
table.scaled tbody td.def {
	border-color:#A8A8A8;
	}
.horizontalComparison tr.scaled td,
table td.scaled {
	color:#E8552F;
	}
.horizontalComparison td.scaled {
	color:inherit;
	}
.graph .moduleList li.selected:hover,
.graph .moduleList .selected {
	background-color:#A8A8A8;
	}
.graph .moduleList li.selected:hover a,
.graph .moduleList .selected a {
	color:#FFF;
	}
.graph .moduleList li:hover {
	background-color:#F3F3F3;
	border-color:#D9D9D9;
	}
.graph .switcher li {
	background:#FFF url(../../img/gradient.graph.switcher.png) repeat-x 0 0;
	}
.graph-body {
	background-color:#F7F7F7;
	}
.contentTable tr.odd td {
	background-color:#F7F7F7;
	}
.contentTable .verticalComparison th.scaled {
	border-color:#A8A8A8 #A8A8A8 #E7E7E7;
	}
.contentTable .verticalComparison td {
	border-color:#A8A8A8 #E7E7E7 #A8A8A8 #A8A8A8;
	}
.contentTable .verticalComparison td.scaled {
	border-color:#A8A8A8 #A8A8A8 #A8A8A8 #E7E7E7;
	}
.contentTable tbody td {
	background:url(../../img/border.table.gif) repeat-x 0 100%;
	}
.graphImg {
	background-color:#FFF;
	}
.notAvailable {
	color:#A8A8A8;
	}
.imageMap-body {
	border-color:#8C8C8C;
	}
.imageMap .map a {
	background-color:#096CE6;
	opacity:0;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	}
.imageMap .map a:hover {
	opacity:.5;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	}
