/* ----------------------------------------------------------- table wrapper */
.table {
	position:relative;
	margin:0 0 0 1px;
	}
.table .loading {
	position:absolute;
	left:0;
	height:50px;
	padding:0 14px 0 54px;
	font:normal 1.8em/50px Arial,Helvetica,sans-serif;
	background-position:14px 50%;
	background-repeat:no-repeat;
	}

/* ------------------------------------------------------------------- table */
.table table {
	border-style:solid;
	border-width:1px;
	width:100%;
	}

/* ----------------------------------------------------------------- columns */
col.id,
col.relTag {
	width:10%;
	}
col.relDate,
col.res {
	width:8%;
	}
col.test {
	width:26%;
	}
col.testPlan {
	width:2%;
	}
col.tags {
	width:15%;
	}
col.request {
	width:11%;
	}
col.testDate {
	width:14%;
	}

/* -------------------------------------------------- table cells & headings */
.table th,
.table td {
	border-style:solid;
	border-width:0 0 1px;
	text-align:left;
	vertical-align:middle;
	font-size:1em;
	}

/* ------------------------------------------------------------------- thead */
.table thead th {
	padding:2px 2px;
	font-weight:bold;
	line-height:1.4em;
	}
.table thead th.test,
.table thead th.testPlan,
.table thead th.tags {
	text-align:center;
	}

/* ------------------------------------------------------------------- tbody */
.table tbody th {
	padding:5px 5px 5px 65px;
	font-weight:bold;
	font-size:1.2em;
	}
.table td {
	padding:8px 2px;
	line-height:1.4em;
	}

/* ----------------------------------------------------------- special cells */
.table td.testPlan {
	padding-top:0;
	padding-bottom:0;
	text-align:center;
	}
.table .secondary td.relTag,
.table .secondary td.test {
	padding-left:35px;
	background-position:7px 48%;
	background-repeat:no-repeat;
	}

/* ------------------------------------------------------------------- links */
.table td.res a {
	font-weight:bold;
	font-size:1.1em;
    white-space: nowrap;
	}
.table td.testPlan a {
	vertical-align:middle;
	border-width:0;
	}
.table td.testPlan a,
.table td.testPlan i {
	display:inline-block;
	display:-moz-inline-stack;
	width:16px;
	height:16px;
	}

/* ------------------------------------------------------------------- icons */
.table td.testPlan i {
	background-repeat:no-repeat;
	}
.table td.testPlan .doc i,
.table td.testPlan .docx i {
	background-position:0 0;
	}
.table td.testPlan .jira i {
	background-position:0 -20px;
	margin-left:0;
	}
.table td.testPlan .pdf i {
	background-position:0 -40px;
	}

.contentTable td {
	/* white-space:nowrap; */
	}