.test .header {
	position:static;
	padding:69px 0 0;
	}
.test h1 {
	margin-top:8px;
	}

.ticketInfo p,
.test .content {
	overflow:hidden;
	font-family:Arial,sans-serif;
	}
.test .content {
	overflow:visible;
	}
.ticketInfo .tag,
.ticketInfo .branch {
	float:left;
	width:220px;
	padding:0 0 10px;
	}
.ticketInfo .tag,
.ticketInfo .code {
	float:left;
	}
.ticketInfo .tag {
	font-size:2.4em;
	}
.ticketInfo .code {
	font-size:1.8em;
	padding:.2em 0 0;
	}
.ticketInfo .branch {
	font-size:1.2em;
	}
.ticketInfo .sow {
	font-size:1.2em;
	font-weight:bold;
	}
.ticketInfo .sow a {
	font-weight:normal;
	}

.relativeArticles .seeAlsoLink {
	font-size:1.2em;
	font-weight:bold;
	border:0;
	padding:5px 15px;
	position:absolute;
	top:15px;
	right:9px;
	}

.relativeArticles iframe {
	position:absolute;
	top:39px;
	right:8px;
	width:480px;
	padding:0 14px;
	height:100%;
	border-width:1px;
	border-style:solid;
	z-index:100;
	}
body.relativeArticles,
.relativeArticles .testsList {
	margin:0;
	height:auto;
	}
.relativeArticles dl {
	padding:0 0 18px;
	}
.relativeArticles h2 {
	margin:16px 0 0;
	}
.relativeArticles dt,
.relativeArticles dd {
	margin:14px 0 0;
	}
.relativeArticles dd {
	padding:0 0 0 177px;
	}
.relativeArticles .issueWrap {
	display:inline;
	}
.relativeArticles .parent {
	padding:2px 0 0;
	}
.relativeArticles .secondary {
	padding:0;
	display:block;
	}
dd.moreThanOne {
	margin:6px 0 0;
	}
dd.date.moreThanOne {
	margin-left:99px;
	}

/*---------------------------------------------------- .testContent ----*/
.testContent {
	padding:12px 305px 0 0;
	}
.testContent .conc {
	border-width:1px;
	border-style:solid;
	padding:0 15px 10px;
	margin:0 0 35px;
	}
.testContent h2 {
	margin:11px 0;
	}
.testContent .conc p {
	font-size:1.2em;
	}
.test h3,
.test h4 {
	font-size:1.2em;
	font-weight:bold;
	margin:0 0 6px;
	}
.testContent dl,
.testResults dl {
	margin:0 0 10px;
	overflow:hidden;
	}
.testContent dt,
.testContent dd,
.testResults dt,
.testResults dd {
	font-size:1.2em;
	margin:0 0 10px;
	}
.environment dt,
.environment dd {
	margin:0 0 4px;
	}
.testContent li,
.testContent p,
.incidents li li,
.testResults li,
.testResults p {
	font-size:1.2em;
	margin:0 0 5px;
	line-height:1.2em;
	}
.testContent li li,
.testContent li h4,
.testResults li li,
.testResults li h4 {
	font-size:1em;
	}
.testContent .environment dt {
	float:left;
	min-width:183px;
	max-width:350px;
	margin:0 10px 0 0;
	}
.testContent .environment dd {
	}
.testContent .environment .empty {
	float:none;
	margin:0 0 19px;
	}
.incidents ul {
	margin:10px 0 0;
	}
.incidents li {
	margin:0;
	word-wrap:break-word;
	}
.incidents li h4 {
	cursor:pointer;
	margin:2px 0;
	padding:5px 0;
	}
.incidents li i {
	display:-moz-inline-block;
	display:inline-block;
	_display:inline;
	_zoom:1;
	vertical-align:middle;
	width:9px;
	height:9px;
	font-size:0;
	margin:0 4px;
	}
.incidents li ul {
	display:none;
	padding:0 0 0 18px;
	}
.incidents li.active i {
	background-position:0 -9px;
	}
.incidents li.active ul {
	display:block;
	}

.diagrams .level {
	overflow:hidden;
	zoom:1;
	}
.diagrams .level.last {
	border-width:0 0 1px;
	border-style:solid;
	}
.diagrams>p {
	padding:4px 18px;
	}
.diagrams h4 {
	border-style:solid;
	border-width:1px 1px 0;
	padding:6px 18px 4px;
	cursor:pointer;
	margin:0;
	position:relative;
	}
.diagrams .active h4 {
	border-width:1px;
	}
.diagrams h4 i {
	position:absolute;
	height:11px;
	width:11px;
	right:12px;
	top:11px;
	background:url(../../img/sprite.arrows.chess.png) no-repeat 0 0;
	}
.diagrams .active h4 i {
	background-position:0 -11px;
	top:9px;
	}
.diagrams .level ul {
	display:none;
	}
.diagrams .active ul {
	display:block;
	}
.diagrams li {
	float:left;
	padding:16px 0 0;
	width:142px;
	height:100px;
	text-align:center;
	overflow:hidden;
	position:relative;
	font-size:1.1em;
	margin:0 0 9px;
	}
.diagrams li i {
	position:absolute;
	height:100%;
	width:16px;
	right:0;
	top:0;
	}
.diagrams a.img {
	border:0;
	text-align:center;
	display:block;
	}
.diagrams a.img img {
	}

/*---------------------------------------------------- .aside ----*/
.test .tags h2 {
	float:left;
	margin:0 5px 0 0;
	line-height:20px;
	}
.test .tags ul {
	padding:0 0 0 36px;
	}
.test .tags li {
	display:inline;
	padding:0 3px 0 0;
	font-size:1.2em;
	line-height:20px;
	}

.test .aside {
	width:276px;
	float:right;
	margin-top:-95px;
	position:relative;
	}
.test .aside div {
	margin:0 0 30px;
	}
.test div.tags {
	margin:0 0 53px;
	}
.test .aside h2 {
	font-size:1.2em;
	font-weight:bold;
	margin:0 0 12px;
	}
.test .resolution h2 {
	font-size:1.8em;
	font-weight:normal;
	}
.test .resolution h2 strong {
	font-weight:normal;
	}
.test .resolution .date {
	margin:0 0 15px;
	}
.test .resolution p {
	font-size:1.2em;
	line-height:1.5em;
	}
.test .toc ul {
	padding:12px 0 0 14px;
	border-width:1px;
	border-style:solid;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	}
.test .toc li {
	font-size:1.2em;
	margin:5px 0 14px;
	}
.test .toc a {
	border-style:dotted;
	}
.participants dl {
	margin:0 0 15px;
	}
.participants dt {
	float:left;
	width:115px;
	font-size:1.2em;
	}
.participants dd {
	padding:0 0 0 118px;
	font-size:1.2em;
	}
.testContent p.error,
.testResults p.error {
	margin:0 0 18px;
	}

.actions {
	overflow:hidden;
	}
.actions a {
	text-decoration:none;
	border:0;
	font-size:1.2em;
	font-weight:bold;
	float:left;
	margin:0 18px 0 0;
	padding:4px 15px 4px 7px;
	}
.testResults .actions h2 {
	font-size:1.2em;
	font-weight:bold;
	margin:0 0 10px;
	}
.testResults .actions a {
	margin:0 35px 0 0;
	font-size:1em;
	}
.actions i {
	display:inline-block;
	width:16px;
	height:16px;
	margin:0 6px 0 0;
	vertical-align:bottom;
	}
.actions .docx i,
.actions .doc i {
	background-position:0 0;
	}
.actions .pdf i {
	background-position:0 -40px;
	}

/*----------------------------------------------------------------------------- testResults --------*/
.testContent .testLog,
.testContent .environment {
	margin:0 0 50px;
	}
.testResults .results,
.testResults .incidents,
.testResults .diagrams,
.testResults .actions,
.test .graph,
.test .contentTable,
.test .screenshots,
.test .imageMap {
	margin:0 0 50px;
	}
.testResults,
.test .graph,
.test .imageMap {
	clear:both;
	}
.testResults .graph {
	margin-bottom: 70px;
}
/*
.incidents p {
	margin:0 0 72px;

	}
*/
.contentTable .note {
	margin:10px 0 0;
	position:relative;
	}
sup.asteriks {
	position:relative;
	top:0;
	color:#096CE6;
	left:2px;
	}
.contentTable .note .asteriks {
	margin:0 2px 0 0;
	}
.contentTable .note dt {
	float:left;
	text-align:right;
	width:17px;
	padding:0;
	margin:0;
	}
.contentTable .note dd {
	font-size:1.1em;
	padding:0 0 3px 20px;
	margin:0;
	}

.graph-heading h3 {
	margin:6px 0;
    font-size: 21px !important;
    font-weight: normal !important;
    color: #444444;
	}
.graph .switcher {
	overflow:hidden;
	bottom:-1px;
	position:relative;
	text-align:right;
	}
.graph .switcher li {
	display:inline-block;
	margin:0 0 0 1px;
	border-style:solid;
	border-width:1px 1px 0;
	font-size:1.1em;
	cursor:pointer;
	}
.graph .switcher a {
	display:inline-block;
	padding:6px 18px 6px;
	border-width:0 0 1px;
	border-style:solid;
	}
.graph .switcher .selected a {
	border:0;
	cursor:default;
	padding-bottom:7px;
	}
.graph-body {
	overflow:hidden;
	border-width:1px;
	border-style:solid;
	}
.graph .moduleList {
	float:left;
	width:217px;
	border-style:solid;
	border-width:0 1px 0 0;
	margin:0 -1px 0 0;
	}
.graph .moduleList li.selected:hover,
.graph .moduleList li {
	padding:8px 0 7px 18px;
	margin:0;
	font-size:1.1em;
	cursor:pointer;
	border:none;
	}
.graph .moduleList li.selected:hover,
.graph .moduleList li.selected {
	cursor:default;
	}
.graph .moduleList .selected a {
	border:0;
	cursor:default;
	}
.graph .moduleList li:hover {
	border-width:1px 0;
	border-style:solid;
	padding-top:7px;
	padding-bottom:6px;
	}
.graph .moduleList a {
	border:0;
	}
.graphImg {
	float:left;
	border-width:0 0 0 1px;
	border-style:solid;
	text-align:center;
	min-height:464px;
	width:780px;
	overflow:hidden;
	}
.graphImg.cropable {
	width:780px;
	overflow:hidden;
	}
.graphImg.cropable img {
	width:auto;
	}
.graphImg img,
.graphImg object,
.graphImg embed {
	/* width:780px;
	height:464px; */
	}
.graphImg .notAvailable {
	width:780px;
	font-size:7em;
	letter-spacing:.1em;
	}
.screenshots ul {
	overflow:hidden;
	margin:0 0 0 -29px;
	}
.screenshots li {
	float:left;
	margin:0 0 0 29px;
	}
.imageMap-body {
	border:1px solid;
	position:relative;
	}
.imageMap .map {
	position:absolute;
	}
.imageMap .map a {
	position:absolute;
	width:100%;
	height:100%;
	}
